In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("bank_reviews.csv", sep='|')

In [3]:
df.head()

,Unnamed: 0,Issue Type,Title,Review,Name,Place,Date
0,0,Saving Account,Good,In Bank of India I am holding a saving account...,AR,new delhi,"Aug 30, 2019"
1,1,Saving Account,Good Service,I am holding a savings account with INDIAN BA...,D,bangalore,"Aug 27, 2019"
2,2,Saving Account,Good bank for middle class people,"5 years ago, taken the savings account from I...",ANONYMS,coimbatore,"Aug 27, 2019"
3,3,Saving Account,Superb bank,I got my savings account with Indian Bank fro...,MANI,chennai,"Aug 26, 2019"
4,4,Other Loan,Useful bank,Using my Indian bank salary account for almos...,KAMALA,chennai,"Aug 26, 2019"

In [4]:
f = open('corpus.txt', 'w+')
for i in df['Review']:
    f.write(str(i))

In [5]:
with open('corpus.txt', 'rt') as sourceFile:
    content = sourceFile.read()
f2 = open("corpus2.txt", "w+")
pattern = re.compile('[\W_]+')
f2.write(pattern.sub(' ', re.sub(' +', ' ', content.replace('\n',' '))))

1422121