In [1]:
import pandas as pd
df2 = pd.read_csv("all_bank_reviews.csv", delimiter="|")

In [2]:
df2.head()

,Bank,Issue Type,Title,Review,Name,Place,Date
0,Indian Bank,Saving Account,"""Good""",In Bank of In...,AR,", new delhi",Reviewed ...
1,Indian Bank,Saving Account,"""Good Service""",I am holding ...,D,", bangalore",Reviewed ...
2,Indian Bank,Saving Account,"""Good bank for middle class people""","5 years ago, ...",ANONYMS,", coimbatore",Reviewed ...
3,Indian Bank,Saving Account,"""Superb bank""",I got my savi...,MANI,", chennai",Reviewed ...
4,Indian Bank,Other Loan,"""Useful bank""",Using my Indi...,KAMALA,", chennai",Reviewed ...

In [3]:
import re
for i in range(0, len(df2['Review'])):
    df2['Review'][i] = re.sub(' +', ' ', df2['Review'][i])
    df2['Title'][i] = re.sub(' +', ' ', df2['Title'][i])
    df2['Name'][i] = re.sub(' +', ' ', str(df2['Name'][i]))
    df2['Place'][i] = re.sub(' +', ' ', df2['Place'][i])
    df2['Date'][i] = re.sub(' +', ' ', df2['Date'][i])
    df2['Place'][i] = df2['Place'][i].replace(',', '')
    df2["Title"][i] = df2['Title'][i].replace('"', '')
    df2["Date"][i] = df2['Date'][i].replace('Reviewed on ', '')

In [4]:
df2.head()

,Bank,Issue Type,Title,Review,Name,Place,Date
0,Indian Bank,Saving Account,Good,In Bank of India I am holding a saving accoun...,AR,new delhi,"Aug 30, 2019"
1,Indian Bank,Saving Account,Good Service,I am holding a savings account with INDIAN BA...,D,bangalore,"Aug 27, 2019"
2,Indian Bank,Saving Account,Good bank for middle class people,"5 years ago, taken the savings account from I...",ANONYMS,coimbatore,"Aug 27, 2019"
3,Indian Bank,Saving Account,Superb bank,I got my savings account with Indian Bank fro...,MANI,chennai,"Aug 26, 2019"
4,Indian Bank,Other Loan,Useful bank,Using my Indian bank salary account for almos...,KAMALA,chennai,"Aug 26, 2019"

In [5]:
df2.to_csv("final_bank.csv", sep = '|')

In [45]:
def fun1():
    print("function 1")
    def fun2():
        print("function 2")
    fun2()
fun1()

function 1
function 2

NameError: name 'fun2' is not defined

In [46]:
print("sdf")

sdf

In [47]:
fun1()

function 1
function 2

In [ ]:
df.to_csv